.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    gap:1em;
}

.nav-bar header{
    font-family: 'Fira Code';
    font-weight: bold;
    color:tomato;
    align-self: center;
    font-size: 4rem;
}

.nav-items{
    display: flex;
    gap:2em;
    font-family: 'Fira Code';
    cursor: pointer; 
    color:darkcyan; 
    align-self: center;
    font-size: 2rem;
}

li{
    list-style-type: none;
}