body{
    background-color: aquamarine;
}
.time-container{
    font-size: 5rem;
    font-family: 'cursed-timer';
}

.time-stamp{
    font-size:2rem;
    font-family: 'cursed-timer';
    margin-bottom:1rem;
}